<h1>User info</h1>

<%= attachment_image_tag user,:profile_image,:fill,100,100,fallback: 'no_image.jpeg'%><br />
<label>name</label><%= user.name %><br />
<label>introduction</label><%= user.introduction %><br />
<%= link_to edit_user_path do %>
<i class="fas fa-user-cog"></i>
<% end %>



<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
