<%= render'users/show', user: @user %>
<%= render'books/new', book: @book %>

<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
      <% @users.each do |user| %>
  <tbody>
    <tr>
      <th><%= link_to user_path(user.id) do %>
      <%= attachment_image_tag user,:profile_image,:fill,40,40,fallback: 'no_image.jpeg' %>
      <% end %>
     </th>
     <td><%= user.name %></td>
     <td><%= user.introduction %></td>
    <% end %>
  </tbody>
</table>