<%= render'users/show', user: @user %>
<%= render'books/new', book: @book %>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
      <% @users.each do |user| %>
  <tbody>
    <tr>
      <th><%= link_to user_path(user.id) do %>
      <%= attachment_image_tag user,:profile_image,:fill,40,40,fallback: 'no_image.jpeg' %>
      <% end %>
     </th>
     <td><%= user.name %></td>
     <td scope="col"><%= link_to "Show", user_path(user.id)%></td>
     </tr>
    <% end %>
  </tbody>
</table>