<h1>User info</h1>

<% @users.each do |user_image| %>
<div>
<%= attachment_image_tag user_image, :profile_image_id %>
<p><%=user_image.name%></p>
<p><%=user_image.introduction%></p>
</div>
<% end %>

<%= link_to "fontawesome"%>

<h1>New book</h1>
<%= form_with model:@book, local:true do |f|%>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Opinion</h3>
<%= f.text_field :body %>
<%= f.submit "Create Book" %>
<% end %>

<h1>Books</h1>
<h3>Title</h3>
<h3>Opinion</h3>