<%= render'users/show', user: @user %>
<%= render'books/new', book: @book %>

<% if flash[:notice] %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Books</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
      <% @user_books.each do |user_book| %>
  <tbody>
    <tr>
      <th scope="row"><%= link_to user_path(@user) do %>
          <%= attachment_image_tag @user,:profile_image,:fill,40,40,fallback: 'no_image.jpeg'%>
          <% end %>
      </th>
      <td>
        <%= link_to book_path(user_book.id) do %>
        <%= user_book.title %>
        <% end %>
      </td>
      <td> <%= user_book.body %></td>
    </tr>
        <% end %>
  </tbody>
</table>