<%= render'users/show', user: @user %>


<h1>Books</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= link_to user_path(@user.id) do %>
          <%= attachment_image_tag @user,:profile_image,:fill,40,40,fallback: 'no_image.jpeg'%>
          <% end %>
      </th>
      <td>
      <% @user_books.each do |user_book| %>
      <%= link_to book_path(user_book.id) do %>
      <%= user_book.title %>
      <% end %>
      </td>
      <td><%= user_book.body %></td>
      <% end %>
    </tr>
  </tbody>
</table>