<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>
 <h3>title</h3>
  <%= f.text_field :title, autofocus: true%>
  <h3>opinion</h3>
  <%= f.text_field :body, autofocus: true%>
  <%= f.submit "Update Book"%>
  
 <%= link_to "Show", book_path %> | <br />
 <%= link_to "Back", books_path %>
<% end %>