<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh- 100">
    <header class="bg-dark mb-5">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand y-3 text-white" href="/">Bookers</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                <li>
                  <i class="fas fa-home text-white mr-3"></i><%= link_to "Home", user_path(current_user),class: 'text-white'%>
                </li>
                <li>
                  <i class="fas fa-users text-white mr-3"></i><%= link_to "Users", users_path , class: 'text-white'%>
                </li>
                    <li>
                  <i class="fas fa-book-open text-white mr-3"></i><%= link_to "Books", books_path ,class: 'text-white'%>
                </li>
                <li>
                  <i class="fas fa-sign-out-alt text-white mr-3"></i><%= link_to "logout",destroy_user_session_path, method: :delete ,class: 'text-white'%>
                </li>
                <% else %>
                <li>
                  <i class="fas fa-home text-white mr-3"></i><%= link_to "Home","/",class: 'text-white' %>
                </li>
                <li>
                  <i class="fas fa-link text-white mr-3"></i><%= link_to "About",home_about_path ,class: 'text-white'%>
                </li>
                <li>
                  <i class="fas fa-user-plus text-white mr-3"></i><%= link_to "sign up",new_user_registration_path ,class: 'text-white'%>
                </li>
                <li>
                  <i class="fas fa-sign-in-alt text-white mr-3"></i><%= link_to "login",new_user_session_path ,class: 'text-white'%>
                </li>
                <% end %>
             </ul>
           </div>
      </div>
     </nav>
    </header>
    <main class="mx-auto w-75">
    <%= yield %>
    </main>
<p class="text-center mt-3">CopyRight Infratop.inc</p>
  </body>
</html>
